Handleing raw E-Books dataset

In [111]:
import pandas as pd   #importing pandas it's used for data manupulation

In [112]:
path = 'pg_catalog.csv'   #data set path

In [6]:
#df = pd.read_csv(path)  #read csv file. df->data frame

C:\Users\sahay\AppData\Local\Temp\ipykernel_10288\528414352.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)  #read csv file. df->data frame

I have this issue now I will rectify this through two methods.

1) df = pd.read_csv(path, dtype= {"column_name" : int})

2) df = pd.read_csv(path, low_memory = False)

In [113]:
df = pd.read_csv(path, low_memory=False)    #I used method 2

In [114]:
df.head()    #It's used to display first 5 data of your dataset

,Text#,Type,Issued,Title,Language,Authors,Subjects,LoCC,Bookshelves
0,1,Text,1971-12-01,The Declaration of Independence of the United ...,en,"Jefferson, Thomas, 1743-1826","United States -- History -- Revolution, 1775-1...",E201; JK,Politics; American Revolutionary War; United S...
1,2,Text,1972-12-01,The United States Bill of Rights\r\nThe Ten Or...,en,United States,Civil rights -- United States -- Sources; Unit...,JK; KF,Politics; American Revolutionary War; United S...
2,3,Text,1973-11-01,John F. Kennedy's Inaugural Address,en,"Kennedy, John F. (John Fitzgerald), 1917-1963",United States -- Foreign relations -- 1961-196...,E838,NaN
3,4,Text,1973-11-01,Lincoln's Gettysburg Address\r\nGiven November...,en,"Lincoln, Abraham, 1809-1865",Consecration of cemeteries -- Pennsylvania -- ...,E456,US Civil War
4,5,Text,1975-12-01,The United States Constitution,en,United States,United States -- Politics and government -- 17...,JK; KF,United States; Politics; American Revolutionar...

In [12]:
df.columns  #It's used to display all columns

Index(['Text#', 'Type', 'Issued', 'Title', 'Language', 'Authors', 'Subjects',
       'LoCC', 'Bookshelves'],
      dtype='object')

In [115]:
df.info()   #It's display data type informations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71634 entries, 0 to 71633
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Text#        71634 non-null  int64
 1   Type         71634 non-null  object
 2   Issued       71634 non-null  object
 3   Title        71634 non-null  object
 4   Language     71634 non-null  object
 5   Authors      71463 non-null  object
 6   Subjects     71579 non-null  object
 7   LoCC         71381 non-null  object
 8   Bookshelves  17168 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.9+ MB

In [116]:
df.describe()  #It's describeing your dataset

              Text#
count  71634.000000
mean   35885.846288
std    20688.923850
min        1.000000
25%    17979.250000
50%    35889.500000
75%    53798.750000
max    90907.000000

First of all, be aware of null values so now we find the null values of each columns

In [117]:
df.isnull() #we used very simple method but it's showing only boolen values , we want integer!

,Text#,Type,Issued,Title,Language,Authors,Subjects,LoCC,Bookshelves
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
71629,False,False,False,False,False,False,True,True,True
71630,False,False,False,False,False,False,True,True,True
71631,False,False,False,False,False,False,True,True,True
71632,False,False,False,False,False,False,True,True,True
71633,False,False,False,False,False,True,True,True,True

In [52]:
df.isnull().sum()  #we got it..

Text#              0
Type               0
Issued             0
Title              0
Language           0
Authors          171
Subjects          55
LoCC             253
Bookshelves    54466
dtype: int64

In [118]:
null_values_info = [i for i in df.columns if df[i].isnull().sum() > 1]  #to find missing values using for loop
null_values_info

['Authors', 'Subjects', 'LoCC', 'Bookshelves']

In [119]:
#now we find the % of null values present in the dataset.
import numpy as np

for i in null_values_info:
    print("column:",i,np.round(df[i].isnull().mean()*100,4),"% of missing values")

column: Authors 0.2387 % of missing values
column: Subjects 0.0768 % of missing values
column: LoCC 0.3532 % of missing values
column: Bookshelves 76.0337 % of missing values

Now we filter only english books

In [120]:
english_books = df[df.Language == 'en']    #display olnly english books
english_books.head()

,Text#,Type,Issued,Title,Language,Authors,Subjects,LoCC,Bookshelves
0,1,Text,1971-12-01,The Declaration of Independence of the United ...,en,"Jefferson, Thomas, 1743-1826","United States -- History -- Revolution, 1775-1...",E201; JK,Politics; American Revolutionary War; United S...
1,2,Text,1972-12-01,The United States Bill of Rights\r\nThe Ten Or...,en,United States,Civil rights -- United States -- Sources; Unit...,JK; KF,Politics; American Revolutionary War; United S...
2,3,Text,1973-11-01,John F. Kennedy's Inaugural Address,en,"Kennedy, John F. (John Fitzgerald), 1917-1963",United States -- Foreign relations -- 1961-196...,E838,NaN
3,4,Text,1973-11-01,Lincoln's Gettysburg Address\r\nGiven November...,en,"Lincoln, Abraham, 1809-1865",Consecration of cemeteries -- Pennsylvania -- ...,E456,US Civil War
4,5,Text,1975-12-01,The United States Constitution,en,United States,United States -- Politics and government -- 17...,JK; KF,United States; Politics; American Revolutionar...

In [121]:
english_books.shape   #to find rows & columns

(57667, 9)

In [122]:
english_books.isnull().sum()  # null values present in english books

Text#              0
Type               0
Issued             0
Title              0
Language           0
Authors          154
Subjects          20
LoCC             210
Bookshelves    46090
dtype: int64

now we drop a null values present in Bookshelves

In [123]:
english_books_copy = english_books.copy()   #first take a one copy for safty perpose

In [124]:
english_books_copy.dropna(inplace=True)  # del null values

In [126]:
english_books_copy.head()

,Text#,Type,Issued,Title,Language,Authors,Subjects,LoCC,Bookshelves
0,1,Text,1971-12-01,The Declaration of Independence of the United ...,en,"Jefferson, Thomas, 1743-1826","United States -- History -- Revolution, 1775-1...",E201; JK,Politics; American Revolutionary War; United S...
1,2,Text,1972-12-01,The United States Bill of Rights\r\nThe Ten Or...,en,United States,Civil rights -- United States -- Sources; Unit...,JK; KF,Politics; American Revolutionary War; United S...
3,4,Text,1973-11-01,Lincoln's Gettysburg Address\r\nGiven November...,en,"Lincoln, Abraham, 1809-1865",Consecration of cemeteries -- Pennsylvania -- ...,E456,US Civil War
4,5,Text,1975-12-01,The United States Constitution,en,United States,United States -- Politics and government -- 17...,JK; KF,United States; Politics; American Revolutionar...
5,6,Text,1976-12-01,Give Me Liberty or Give Me Death,en,"Henry, Patrick, 1736-1799","Speeches, addresses, etc., American; United St...",E201,American Revolutionary War

In [ ]:
#english_books_copy.to_csv("English-eBooks-list.csv")   #export to CSV format